black
datasets
flake8
huggingface_hub[cli]
ipykernel
ipython
ipywidgets
isort
jupyterlab
loguru
matplotlib
notebook
nltk
numpy<2
pandas
pillow
pip
pytest
python-dotenv
scikit-learn
seaborn
streamlit
sortedcontainers
torch==2.6.0
torchvision
transformers
tqdm
typer
wandb
wordcloud
-e .