black
datasets
flake8
huggingface_hub[cli]
ipykernel
ipython
ipywidgets
isort
jupyterlab
loguru
matplotlib
notebook
nltk
numpy<2
pandas
peft>= 0.6.0
pillow
pip
pytest
python-dotenv
scikit-learn
seaborn
streamlit
sortedcontainers
torch
torchvision
transformers>=4.34.0
trl
tqdm
typer
wandb
wordcloud
-e .